# Telegram Bot Token for HMAC initData verification
BOT_TOKEN=8750333564:AAHD71_1rP4v0SMEgU49Gv_s7vnjRQoEM_A
DATABASE_URL=mysql://mardtryj_lotto_user:lotto_password@mardtrading.com:3306/mardtryj_lotto_db
PORT=3000
